# Application Ports
FRONTEND_PORT=5174
BACKEND_HOST=backend
BACKEND_PORT=8000

# Database Config
DATABASE_URL="postgresql://"

# Secret Key
JWT_SECRET_KEY="generate-token-key"
AUTH_TOKEN="dev-provide"

# Frontend URL (for CORS)
FRONTEND_URL="http://localhost:5174"