# Application Ports
FRONTEND_PORT=3000
BACKEND_HOST=backend
BACKEND_PORT=8000

# Database Config
DATABASE_URL="postgresql://"
HIS_DATABASE_URL="postgresql://"

# Secret Key
JWT_SECRET_KEY="generate-token-key"
AUTH_SECRET_KEY=""

# External auth/user APIs
HIS_API_URL="http://apiop.praram9.com/"
STAFF_API_URL="http://172.20.1.12/dbstaff/api/"

# Frontend URL (for CORS)
FRONTEND_URL="http://localhost:3000"